@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    background-color: #030A18; /* bg-brand-dark */
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
